.list__activeMarker {
    position: absolute;
    top: 0;
    left: 1rem;
    width: 5.5rem;
    height: 5px;
    background-color: var(--blue);
    box-shadow: 1px 3px 5px rgba(52, 132, 255, 0.26);
}

// disable selection
@mixin disableSelection {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.d-none {
    display: none;
}
