.list__activeMarker {
    position: absolute;
    top: 0;
    left: 1rem;
    width: 5.5rem;
    height: 5px;
    background-color: var(--blue);
    box-shadow: 1px 3px 5px rgba(52, 132, 255, 0.26);
    animation: blink 1s cubic-bezier(0.75, 0, 0.19, 0.96) alternate infinite;
}

// disable selection
@mixin disableSelection {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@mixin customScrollBar {
    &::-webkit-scrollbar {
        width: 8px;
    }
    /* Track */
    &::-webkit-scrollbar-track {
        border-radius: 10px;
        background-color: var(--dark4);
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
        background: var(--dark2);
        border-radius: 10px;
    }

    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
        background: var(--dark3);
    }
}

.d-none {
    display: none;
}
